div,h3,p,h4,h5{
    margin: 0;
    padding: 0;
}
#wrap{
    min-width: 1000px;
    height: 100vh;
    background-color: #f6f6f6;
}
header{
    width: 100vw;
    height: 10vh;
    display: flex;
    border-bottom: 1px solid #d4d0c72f;
    background-color: white;
   & .title{
        width: 20vw;
        height: 100%;
        text-align: center;
        line-height: 10vh;
        font-size: 5vh;
    }
    & .list{
        width: 30vw;
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
       & > span{
            padding: 10px;
       }
    }
 
    & .search{
        width: 40vw;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
       & .search-input{
            width: 100%;
            height: 50%;
            border-radius: 10vh;
            background-color: #ccc7bf50;
            border: none;
            text-indent: 2vw;
        }        
    }
   & .loging{
        width: 20vw;
        height: 100%;
       display: flex;
       justify-content: center;
       align-items: center;
      & .loging-p{
        width:5vw;
        height: 5vh;
        border: 1px solid #3275da;
        display: flex;
        justify-content: center;
        align-items: center;
        color:#3275da ;
    }
    }
}
main{
    width: 100vw;
    height: 50vh;
   overflow: auto;
    display: flex;
   .main-blank{
       width: 15vw;
       height: 76vh;   
   }
   .main-part{
    width: 70vw;
    height: 50vh;
    background-color: white;
    margin-top: 2vh;
    display: flex;
    & .part-left{
        width: 70%;
        border-right:2vw solid #f6f6f6;
            & > h3{
                padding: 15px 15px;
            }
            & >.list{
                padding: 0px 15px;
            }
    }
    & >.part-right{
        width: 28%;
        height: 100%;
        & >.followers{
         height: 10vh;
         display: flex;
         justify-content: space-around;
         align-items: center;
         border-bottom: 1px solid #f6f6f6;
         & >.followers-left{
             width: 50%;
             height: 100%;
             display: flex;
             flex-direction: column;
             justify-content: center;
             align-items: center;
             border-right: 1px solid #f6f6f6;
             & >.folloers-p{
                 color: #8590a6;
             }
         }
         & >.followers-right{
             width: 50%;
             height: 100%;
             display: flex;
             flex-direction: column;
             justify-content: center;
             align-items: center;
             & >.folloers-p{
                 color: #8590a6;
             }
         }
        }
        & >.parenttopic{
              margin-top: 1vh; 
              height: 40vh;
         & >.h5{
             margin-left: 1vw;  
         }
        & .topic{
            width: 100%;
            display: flex;
            & > p{
                height: 25px;
                margin-top: 10px;
                margin-left: 10px;
                background-color: #e5efff;
                font-size: 15px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: blue;
                padding:0px 10px;
                border-radius: 30px;
            }
        }
     }
    }
    }
}