<<<<<<< HEAD
body,div,ul,li,p,span{
    margin: 0;
    padding: 0;
=======
body,h2,h3,h5{
    margin:0;
    box-sizing: border-box;
}
img{
    display: block;
}
.pl-20{
    padding:20px;
}
.ml-20{
    margin-left: 20px;
}

.left{
    float:left;
}

:root{
    --main_color:#06f;
>>>>>>> c31f0a2a4c1e554c1331bc2fa84cf6a3e86f8cf0
}
#wrap{
    min-width: 1000px;
    min-height: 100vh;
    height: 100vh;
    background-color: white;
}
header{
    width: 100%;
    height: 10vh      ;
    background-color: black;
    display: flex;
}
.header_title{
    width: 25%;
    height: 100%;
    color: white; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header_title_span{
    font-size: 4vh;
    text-align: center;
    position: relative;
    left: -1200px;
}
.header_title_div{
    text-align: center; 
    margin-left: -15px; 
    position: relative;
    left: -1200px;
}
.header_blank{
    width: 30%;
    height: 100%;
}
.header_right_blank{
    width: 5%;
    height: 100%;
}
.header_text{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}
.header_text p{
    cursor: pointer;
    padding: 1vh 2vh;
}
main{
    width: 100%;
    height: 80vh;
    background-color: #cccccc23;
    display: flex;
}
.main_blank{
    width: 15%;
    height: 100%;
}
.main_mid{
    width: 70%;
    height: 100%;
    background-color: white;
    display: flex;
}
.mid_content{
    width: 70%;
    height: 100%;
    box-shadow:3px 0px 0px 0px #f1f1f1 ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.mid_list{
    width: 30%;
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mid_list li{
    width: 200px;
    height: 20%;
    background-color: #dddddd;
    color: black;
    font-size:4vh;
    text-align: center;
    line-height: 100%;
    margin-top: 15vh;
    border-radius: 10px;
    cursor: pointer;
}
.content_title{
    width: 100%;
    height: 40%;  
}
.first_section{
   font-size: 2vh;
    overflow: hidden;
    text-indent: 3vh;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    padding: 2vh 1vh 0px 1vh;
    position: relative;
    left: -1200px;
}
.second_section{
    font-size: 2vh;
    overflow: hidden;
    text-indent: 3vh;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    padding: 4vh 1vh 0px 1vh;
    position: relative;
    left: -1200px;
}
.content_title_span,.content-title_span{
    font-size: 2vh;
    display: block;
    text-indent: 3vh;
    margin-top: 3vh;
    color: #2879d0;
    padding-left: 1vh;
    position: relative;
    left: -1200px;

<<<<<<< HEAD
}
.content_firsttext,.content_secondtext,.content_thirdtext{
    font-size: 2vh;
    width: 100%;
    height: 20%;
    position: relative;
    left: -1200px;
}
.content_firsttext p,.content_secondtext p,.content_thirdtext p{
    overflow: hidden;
    text-indent: 3vh;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    padding: 10px 10px 0px 10px;
}
.mark{
    font-size: 4vh;
    color: #9ddffe;   
}
.subtitle{
    font-size: 4vh;
    margin-left: 2vh;
    color: #474747;
}
.page{
    font-size: 4vh;
    margin-left: 3vh; 
    color: #474747;
    cursor: pointer;
}
.second_mark{
    font-size:3vh;
    color: #9ddffe; 
}
.second_subtitle{
    font-size: 3vh;
    margin-left: 2vh;
    color: #474747;
}
.second_page{
    font-size: 3vh;
    margin-left: 3vh; 
    color: #474747;
    cursor: pointer;
}
.third_mark{
    font-size:2vh;
    color: #9ddffe; 
}
.third_subtitle{
    font-size: 2vh;
    margin-left: 2vh;
    color: #474747;
}
.third_page{
    font-size: 2vh;
    margin-left: 3vh; 
    color: #474747;
    cursor: pointer;
}




=======
body{
    min-height:100vh;
    background:#f6f6f6;
}
.header {
    padding:10px;
    border:1px solid #f2f2f2;
    background:#fff;
    & h2{
        margin:0 auto;
        text-indent: 2em;
        max-width:1156px;
        color:var(--main_color);
    }
}

.container{
    width:1000px;
    margin:0 auto;
    margin-top:10px;
    display: flex;
    & > section{
        width:694px;
        & > header{
            padding:20px;
            background:#fff;
            border-radius: 2px;
            line-height: 24px;
            & .logo{
                width:100px;
                height:100px;
                border-radius: 4px;
                text-align:center;
                line-height: 100px;
                font-size:32px;
                color:#fff;
                background:var(--main_color);
                float:left;
                margin-right:20px;
            }
        }

        & > section{
            background:#fff;
            margin-top: 10px;
            border-radius: 2px;
           .tabs {
               display:flex;
               position:relative;
               padding:0 10px;
               & .tab-item{
                   padding:6px 10px;
                   & .tab-name{
                       padding:10px 0;
                       cursor: pointer;
                    }
                    & > .main{
                       background:#fff;
                       position:absolute;
                       left:0;
                       & h3{
                           line-height: 32px;
                           padding-left: 20px;
                       }
                       & article{
                           padding: 0 20px;
                           line-height: 24px;
                       }
                       & .item{
                           border-bottom: 1px solid #f6f6f6;
                           padding:10px 0;
                           width:694px;
                       }
                   }
               }
           }
        }
    }
    & > aside{
        background:#fff;
        margin-left:10px;
        width:296px;
        padding:10px 0;
        & h5{
            text-indent: 10px;
        }
        & > .content{
            button{
                margin-left:10px;
                margin-top: 10px;
                padding:6px 11px;
                background:rgba(63, 137, 248,.1);
                border:none;
                color:var(--main_color);
                border-radius: 14px;
               
            }
            button:hover{
                animation: btn-active .4s alternate both;
            }
        }
    }
}

@keyframes btn-active{
    100%{
        background:rgba(63, 137, 248,.3);
    }
}

.active{
    border-bottom:2px solid var(--main_color);
}

.nav{
    display: flex;
    margin-top: 10px;
    & > button{
        background:var(--main_color);
        padding:6px 14px;
        color:#fff;
        border:none;
        border-radius: 4px;
        margin-right:10px;
    }
    img{
        width:16px;
        height:16px;
    }
    & nav{
        display: flex;
        align-items: center;
        margin-right: 10px;
        justify-content: center;
        & span{
            margin-left:3px;
        }
        color:#8a8a8a;
    }
    
}
>>>>>>> c31f0a2a4c1e554c1331bc2fa84cf6a3e86f8cf0
